{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
</head>

<body>

    <!-- barra de navegacion -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="col-md-10"><img src="{% static 'core/img/icono.png' %}" alt="Logo Pagina" width="60" height="60"></div>
          <div class="col-md-1"><a class="navbar-brand" href="{% url 'home' %}">Inicio</a></div>
          <div class="col-md-1"><a class="navbar-brand" href="{%url 'admin:index'%}">Iniciar sesión</a></div>
        </div>
      </nav>   

    {% block header %} {% endblock %}

    {% block content %} 
    
    {% endblock %}
    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>